:root {
    --header-height: 70px;
    --sidebar-width: 250px;
}

@media (max-width: 768px) {
    :root {
        --header-height: 60px;
        --sidebar-width: 200px;
    }
}

@media (max-width: 576px) {
    :root {
        --header-height: 60px;
        --sidebar-width: 150px;
    }
}

/* Overall layout styling */
.pageWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header styling */
.headerArea {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.mainLayout {
    display: flex;
    flex-grow: 1;
    margin-top: var(--header-height);
}

/* Sidebar styling */
.sidebarArea {
    width: var(--sidebar-width);
    position: fixed;
    left: 0;
    height: calc(100vh - var(--header-height));
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

/* Content area styling */
.contentArea {
    margin-left: var(--sidebar-width);
    width: 100%;
    padding: 20px;
    flex-grow: 1;
    background-color: #f8f9fa;
    min-height: calc(100vh - var(--header-height));
    background-image: url('https://media.istockphoto.com/id/1139678803/vector/horizontal-vector-illustration-of-an-empty-sky-blue-coloured-grungy-textured-background.jpg?s=612x612&w=0&k=20&c=tFTrwphz8pXtrmJGrEFBAnk9anQmRPHp3C8a3kQql7M=');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}